# node.js dependencies folder
node_modules/

# Generated folder by build process
lib/
build/

# Environment variables
.env.*
.env

# Bot Files
*.bot

# Test report
test-results.xml

#coverage
coverage
.nyc_output

# history extension

.history
.DS_Store